---
import Layout from "../layouts/Layout.astro";

// プロジェクトデータ
const projects = [
  {
    url: "https://github.com/neet/tunci",
    repo: "neet/tunci",
    description:
      "A neural machine translation application for the Ainu language.",
  },
  {
    url: "https://github.com/neet/kampisos",
    repo: "neet/kampisos",
    description: "A web-based search engine for Ainu language texts.",
  },
  {
    url: "https://github.com/neet/kampisos-ios",
    repo: "neet/kampisos-ios",
    description: "A native iOS application for Kampisos.",
  },
  {
    url: "https://github.com/aynumosir/ainu-lm",
    repo: "aynumosir/ainu-lm",
    description: "A language model training pipeline for the Ainu language.",
  },
  {
    url: "https://github.com/aynumosir/ainu-corpora",
    repo: "aynumosir/ainu-corpora",
    description: "a collection of Ainu language corpora",
    private: true,
  },
  {
    url: "https://github.com/aynumosir/ainu-utils",
    repo: "aynumosir/ainu-utils",
    description: "a collection of utilities for Ainu language processing",
  },
  {
    url: "https://github.com/aynumosir/ainu-gpt",
    repo: "aynumosir/ainu-gpt",
    description: "A MyGPT implementation for Ainu language",
  },
  {
    url: "https://github.com/aynumosir/ainu-mcp",
    repo: "aynumosir/ainu-mcp",
    description: "A MCP implementation for Ainu language",
  },
];

// 外部リンクデータ
const externalLinks = [
  {
    url: "https://github.com/aynumosir",
    text: "GitHub",
  },
  {
    url: "https://huggingface.com/aynumosir",
    text: "Hugging Face Hub",
  },
];
---

<Layout>
  <main>
    <p>
      <em>aynu.io</em> is a project dedicated to developing and maintaining software
      related to the Ainu language and culture.
    </p>

    <h2>Projects</h2>
    <ul>
      {
        projects.map((project) => (
          <li>
            <a href={project.url} target="_blank">
              <code>{project.repo}</code>
            </a>
            {project.private && <span class="tag">(private)</span>}
            <span>― {project.description}</span>
          </li>
        ))
      }
    </ul>

    <h2>External Links</h2>
    <ul>
      {
        externalLinks.map((link) => (
          <li>
            <a href={link.url} target="_blank">
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .tag {
    display: inline-block;
    margin: 0 0.5em;
    color: gray;
  }
</style>
